@{
    ViewBag.Title = "Index";
}

<h2>Login:</h2>
<br/>
@using(Html.BeginForm("Validate", "Login"))
{
  

@Html.Label("Username");
@Html.TextBox("username")<br />;
@Html.Label("Password");
@Html.Password("password")<br />;
<input type="submit" value="Login" />
}